.grad{
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}
.Hcolor{
    color:white ;
}

.H{
    font-size: 45px;
    font-weight: bold;
}
.emoji{
    display: inline;
}

.new{
    margin-right: auto;
    margin-left: 0;
    max-width:540px;
}

.row{
    margin-right:0px;
    margin-left: 0px;
}
.boxx{
    height: 257px;
}

.padding{
padding-top: 20px;
}

.tron{
    padding: 0px;
}

.listy{
    list-style-type: none;
}

.uvblock{
    display: inline-flex;
}

.w{
    text-align: center;
    width: 69px;
    border-radius: 25px;
}

.UVL{
    background-color: turquoise;
}

.UVM{
    background-color: rgb(245, 221, 9);
}

.UVH{
    background-color: rgb(245, 141, 22);
}

.UVVH{
    background-color: rgb(165, 11, 11);
}

.UVE{
    background-color: #ee0ce3;
}
