.grad{
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}
.Hcolor{
    color:white ;
}

.new{
    margin-right: auto;
    margin-left: 0;
    max-width:540px;
}

.row{
    margin-right:0px;
    margin-left: 0px;
}

.padding{
padding-top: 20px;
}

.tron{
    padding: 0px;
}

.listy{
    list-style-type: none;
}

.UVL{
    background-color: turquoise;
    width: 82px;
}

.UVM{
    background-color: rgb(245, 221, 9);
    width: 82px;
}

.UVH{
    background-color: rgb(245, 141, 22);
    width: 82px;
}

.UVVH{
    background-color: rgb(165, 11, 11);
    width: 82px;
}

.VHE{
    background-color: #ee0ce3;
    width: 82px;
}